#map{
    width: 50%;
    height: 1000px;

}
#elem{

}

body {
    background-image: url("Taustakuva.jpg");
    background-repeat: no-repeat;
}
#buttonZoom{
    position: absolute;
    right: 10px;
    top: 101px;

}